<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.manager.dao.UserMapper">
  <resultMap id="BaseResultMap" type="User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>

  <sql id="Base_Column_List">
    id, username, password, phone, email, sex, address, state, description, role_id as roleId, avatar, created, updated
  </sql>

  <select id="getRoles" resultType="String">
    SELECT
	r.name
    FROM
	tb_user u
    JOIN tb_role r ON u.role_id = r.id
    WHERE
	u.username = #{username}
  </select>
  <select id="getPermissions" resultType="String">
    SELECT
	p.url
    FROM
	tb_user u
    JOIN tb_role r ON u.role_id = r.id
    JOIN tb_role_perm rp ON rp.role_id = u.role_id
	JOIN tb_permission p ON rp.permission_id = p.menu_id
    WHERE
	u.username = #{username}
  </select>
  <select id="selectByUserInfo" parameterType="string" resultMap="BaseResultMap">
    SELECT id, username, password, phone, email, sex, address, state, description, role_id as roleId, avatar, created, updated
    FROM tb_user
    <where>
      <if test="condition != null and condition != ''">
        (username LIKE #{condition} OR
         phone LIKE #{condition} OR
         email LIKE #{condition} OR
         sex LIKE #{condition} OR
         address LIKE #{condition})
      </if>
    </where>
    </select>
</mapper>